html, body {
    height: 100%;
    margin: 0;
}

body {
    display: grid;
    place-items: center; 
    background: #f3f6ff; 
}

.container {
    width: 14rem;
    height: 14rem;
    border-radius: 12px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
